In [18]:
import pandas as pd
import json

json_file_path = "../export/matches.json"

with open(json_file_path, 'r') as j:
     contents = json.loads(j.read())
        
df = pd.json_normalize(contents)

df.describe()

,like,chats,match,block,we_met
count,2892,179,320,57,11
unique,2892,179,320,57,11
top,"[{'timestamp': '2020-03-01T05:50:22', 'comment...",[{'body': 'Hey sorry I was in Zion camping for...,"[{'timestamp': '2020-07-30T16:22:51.305000', '...","[{'block_type': 'remove', 'timestamp': '2022-0...","[{'timestamp': '2020-03-06T23:18:51.209000', '..."
freq,1,1,1,1,1